alabaster==0.7.10
argh==0.26.2
asn1crypto==0.24.0
Babel==2.5.3
certifi==2018.1.18
cffi==1.11.4
chardet==3.0.4
click==6.7
colorama==0.3.9
cryptography==2.1.4
docutils==0.14
idna==2.6
imagesize==1.0.0
Jinja2==2.10
livereload==2.5.1
MarkupSafe==1.0
mod-wsgi==4.5.24
packaging==17.1
pathtools==0.1.2
peewee==3.0.18
port-for==0.3.1
pycparser==2.18
Pygments==2.2.0
pyOpenSSL==17.5.0
pyparsing==2.2.0
pytz==2018.3
PyYAML==3.12
redis==2.10.6
requests==2.18.4
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.7.1
sphinx-autobuild==0.7.1
sphinxcontrib-websupport==1.0.1
termcolor==1.1.0
tornado==5.0
urllib3==1.22
watchdog==0.8.3
Werkzeug==0.14.1
